footer.um-footer
    div.um-container.um-footer__top
        img(src="/img/logo.png")
        div.um-footer__top-navigation.um-typography_md-roboto
            div.um-footer__top-navigation-item
                | Спецтехника SANY
            div.um-footer__top-navigation-item
                | Аренда
            div.um-footer__top-navigation-item
                | Компания
            div.um-footer__top-navigation-item
                | SANY-Oil
            div.um-footer__top-navigation-item
                | Сервис
            div.um-footer__top-navigation-item
                | Контакты
            div.um-footer__top-navigation-item
                | Pfreundt
    div.um-footer__bottom
        div.um-container.um-footer__bottom-block
            div.um-title.um-title_red.um-typography_sm
                | Политика конфиденциальности
            div.um-title
                span.um-title__item.um-typography_sm
                    | Сайт разработан Digital Agency
                span.um-title__item.um-title__item_red.um-title_red.um-typography_sm
                    |  Uralmedias

.um-overlay.js-overlay
.um-popup.js-popup(data-popup-id="callback")
    .um-popup__close.js-popup__close