html(lang="ru")
    head
        meta(charset="utf-8")
    header.um-header.um-container
        img(src="/img/logo.png")
        div.um-header__navigation.um-typography_md
            div.um-header__navigation-item
                | ПРОДАЖА
                div.um-header__navigation-item-arrow
                    img(src="/img/down-arrow.png")
            div.um-header__navigation-item
                | АРЕНДА
            div.um-header__navigation-item
                | СЕРВИС
            div.um-header__navigation-item
                | КОМПАНИЯ
            div.um-header__navigation-item
                | КОНТАКТЫ
        div.um-header__contacts
            div.um-header__contacts-item.um-typography_md
                | info@fuchs-ural.ru
            div.um-header__contacts-item.um-header__contacts-item_red.um-typography_md.um-header__contacts-item_large
                | +7 (3519) 49-59-51
        div.um-header__mobile
            div.um-typography_md +7 (3519) 49-59-51
            div.um-header__mobile-burger-btn
                img(src="/img/burger-btn.png")
