.um-advantages {
  margin-top: 73px;

  &__body {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    row-gap: 40px;
    column-gap: 53px;



    &-block {
      position: relative;
      height: 168px;

      &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 252px;
        background: #F7F7F7;
        text-transform: uppercase;
        hyphens: auto;

        &_desktop {
          text-transform: uppercase;
          @media (max-width: 768px) {
            display: none;
          }
        }

        &_mobile {
          width: 100%;
          @media (min-width: 768px) {
            display: none;
          }
        }

        @media (max-width: 768px) {
          width: 100%;
          height: 100%;
          background: white;
          justify-content: flex-start;
          column-gap: 10px;
        }
      }

      &-content {
        z-index: -1;
        padding: 20px 23px 0 23px;
        top: 38px;
        left: 10px;
        position: absolute;
        width: 265px;
        height: 130px;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.12);

        @media (max-width: 768px) {
          display: none;
        }
      }

      @media (max-width: 768px) {
        height: auto;
        white-space: normal;
        min-width: 150px;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2,minmax(0,1fr));
      row-gap: 20px;
      column-gap: 30px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3,minmax(0,1fr));
    }
  }

  &__mobile-logo {
    @media (min-width: 768px) {
      display: none;
    }
  }
}