.um-dealer {
  margin-top: 70px;
  margin-bottom: 45px;

  &__text {
    max-width: 603px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    p {
      margin-bottom: 20px;
    }
  }
  &__media {
    min-width: 46%;
  }
}