.um-feedback {
  color: white !important;
  background: #252525;
  height: 200px;

  &__body {
    padding: 34px 0;
    height: 100%;
    display: grid;
    grid-template-columns: 330px 1fr;
    column-gap: 200px;

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      height: 120px;

      &-ask {
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      &-number {
        @media (max-width: 768px) {
          font-size: 22px;
        }
      }

      &-phone {
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      @media (max-width: 768px) {
        height: 85px;
      }
    }

    &-form {
      width: 100%;
      max-width: 640px;

      &-grid {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-row-gap: 15px;

        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
      }

      &-top {
        grid-column: 1/4;

        &-application {
          text-transform: uppercase;
        }

        &-manager {

          @media (max-width: 768px) {
            margin-top: 6px;
            line-height: 170%;
          }
        }
      }

      &-input {
        background: #DEDEDE;
        cursor: pointer;
        color:  #7B7B7B;
        border: 2px solid #EDEDED;
        width: 200px;
        height: 48px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 25px;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      &-submit {
        background: #DC000C;
        color: white;
        width: 200px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      &-bottom {
        margin-top: 8px;

        @media (max-width: 768px) {
          margin-top: 12px;
        }
      }

      @media (max-width: 1200px) {
       max-width: none;
      }
    }

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  &__divder {
    height: 2px;
    width: 100%;
    background: #DC000C;
    margin: 20px 0;

    @media (min-width: 1200px) {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    height: auto;
  }
}