.um-regions {
  overflow: hidden;
  background: #F6F6F6;
  width: 100vw;

  &__body {
    display: flex;
    height: 550px;
    justify-content: space-between;

    &-text-block {
      max-width: 450px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      @media (max-width: 768px) {
        max-width: none;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      margin-top: 35px;
      flex-direction: column;
      height: auto;
    }
  }

  &__addresses {
    margin-top: 30px;
    max-width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    column-gap: 50px;
    row-gap: 25px;

    &-more {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      &-link {
        position: relative;
      }

      &-link::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background: #DC000C;
        top: 100%;
        left: 0;
      }
    }

    &-block {

    }

    &-city {

    }

    &-rest {
      margin-top: 8px;
    }

    &-phone {
      margin-top: 6px;
      color: #DC000C;
    }

    @media (max-width: 768px) {
      column-gap: 25px;
    }
  }

  &__russia {
    width: 62%;
    //width: 63%;
    //padding-top: 40%;
    position: relative;

    &_desktop {
      min-width: 1126px;
      position: absolute;
      top: 0;
      left: 0;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &_mobile {
      //height: 333px;
      //min-width: 626px;
      position: absolute;
      bottom: 0;
      left: 0;


      @media (min-width: 768px) {
        display: none;
      }

      @media (max-width: 430px) {
        height: 400px;
        min-width: 430px;
      }

      @media (min-width: 430px) and (max-width: 768px) {
        height: 500px;
        min-width: 500px;
      }

      @media (min-width: 520px) and (max-width: 768px) {
        height: 550px;
        min-width: 550px;
      }

      @media (min-width: 520px) and (max-width: 768px) {
        height: 600px;
        width: 768px;
      }
    }

    @media (max-width: 768px) {
      height: 300px;
      width: 100%;
    }

    @media (min-width: 430px) and (max-width: 768px) {
      height: 400px;
    }

    @media (min-width: 520px) and (max-width: 768px) {
      height: 500px;
    }
  }
}