extends ../common/layout

block content
    main
        div.um-preview.um-container
            div.um-title
                h1.um-title__item.um-typography_xxl
                    | СОВРЕМЕННЫЕ ТЕХНОЛОГИИ
                h1.um-title__item.um-title__item_red.um-typography_xxl
                    | ДЛЯ УВЕЛИЧЕНИЯ ПРОИЗВОДИТЕЛЬНОСТИ
            div.um-navbar
                div.um-navbar__item.um-navbar__item_active.um-typography_md
                    span Эргономика
                div.um-navbar__item.um-typography_md
                    span Кабина 360°
                div.um-navbar__item.um-typography_md
                    span Электронная защита
                div.um-navbar__item.um-typography_md
                    span Многофункциональность
                div.um-navbar__item.um-typography_md
                    span Для сурового климата
            div.um-content.um-preview__content
                div.um-content__text-block
                    div.um-preview__content-description
                        div.um-title
                            h1.um-title__item.um-typography_xl ЭРГОНОМИКА, КОТОРАЯ ОБЛЕГЧАЕТ
                            h1.um-title__item.um-typography_xl РАБОТУ МАШИНИСТА
                        ul.um-preview__content-description-text.um-typography_md-roboto
                            li
                                span Эргономичное кресло
                            li
                                span Удобное расположение управляющего джойстика.
                            li
                                span ЖК-монитор с информативной системой оповещения о состоянии механизмов и агрегатов перегружателя.
                div.um-content__media-block.um-preview__content-media
                    img(src="/img/preview_img.png")
        div.um-form.um-container
            div.um-title
                span.um-title__item.um-typography_xxl
                    | Подберем технику
                span.um-title__item.um-title__item_red.um-typography_xxl
                    |  под ваши условия и задачу
            div.um-form__body
                div.um-form__body-element
                    div.um-form__body-element-label.um-typography_md
                        | НАЗНАЧЕНИЕ*
                    div.um-form__body-element-select.um-form__body-element-select_selected.um-typography_md-roboto
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | Перевалка лома
                div.um-form__body-element
                    div.um-form__body-element-label.um-typography_md
                        | ТИП ГРУЗА
                    div.um-form__body-element-select.um-typography_md-roboto
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | Выберите пункт
                div.um-form__body-element
                    div.um-form__body-element-label.um-typography_md
                        | ВЫЛЕТ СТРЕЛЫ
                    div.um-form__body-element-select.um-typography_md-roboto
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | Выберите пункт
                div.um-form__body-element.um-form__body-element
                    div.um-form__body-element-label.um-typography_md.um-form__body-element-label_error
                        | ТИП ПРИВОДА*
                    div.um-form__body-element-select.um-typography_md-roboto.um-form__body-element-select_error
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | Выберите пункт
                div.um-form__body-element
                    div.um-form__body-element-label.um-typography_md
                        | ХОДОВОЕ УСТРОЙСТВО*
                    div.um-form__body-element-select.um-typography_md-roboto
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | Выберите пункт
                div.um-form__body-element
                    div.um-form__body-element-label.um-typography_md
                        | НАВЕСНОЕ ОБОРУДОВАНИЕ
                    div.um-form__body-element-select.um-typography_md-roboto
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | Выберите пункт
                div.um-form__body-element
                    div.um-form__body-element-label.um-typography_md
                        | ПРИОБРЕТЕНИЕ
                    div.um-form__body-element-select.um-form__body-element-select_selected.um-typography_md-roboto
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | Аренда
                div.um-form__body-element
                    div.um-form__body-element-label.um-typography_md
                        | ТЕЛЕФОН ДЛЯ СВЯЗИ*
                    div.um-form__body-element-select.um-typography_md-roboto
                        div.um-form__body-element-select-arrow
                            img(src="/img/down-arrow.png")
                        | 8(___)___-__-__
                div.um-form__body-submit-btn.um-typography_md
                    | Подобрать лучшее решение
                div.um-form__body-submit-info
                    div.um-title.um-typography_sm
                        div.um-title__item
                            | При нажатии на кнопку я принимаю
                        div.um-title__item.um-title__item_red
                            | условия пользовательского соглашения
            div.um-form__logo
                img(src="/img/bg-logo.png")
        div.um-top-models.um-container
            div.um-title
                span.um-title__item.um-typography_xxl.um-title__item_red
                    | ТОП МОДЕЛИ
                span.um-title__item.um-typography_xxl
                    |  ПЕРЕГРУЖАТЕЛЕЙ
            div.um-content.um-top-models__content
                div.um-top-models__content-media
                    div.um-title
                        span.um-title__item.um-typography_lg
                            | Перегружатель расширенной комплектации
                        span.um-title__item.um-typography_lg.um-title__item_red
                            |  SY 245 F
                    img(src="/img/top-models-image.png")
                div.um-top-models__content-descripion
                    div.um-title
                        span.um-title__item.um-typography_lg
                            | Перегружатель расширенной комплектации
                        span.um-title__item.um-typography_lg.um-title__item_red
                            |  SY 245 F
                    table.um-top-models__content-descripion-table.um-typography_sm
                        tbody
                            tr
                                td Назначение
                                td Перевалка леса
                            tr
                                td Грузоподъемность
                                td 19,3 – 21,0 т
                            tr
                                td Общий вес
                                td 12 т
                            tr
                                td Емкость ковша
                                td 9,2 – 10,4 м3
                            tr
                                td Рабочая высота
                                td 8 – 15 м
                            tr
                                td Рабочая глубина
                                td 4 – 6 м
                            tr
                                td Мощность двигателя
                                td 415 л.с.
                            tr
                                td Колесная база
                                td 3200 мм
                    div.um-top-models__content-descripion-btn.um-typography_md
                        | Получить предложение
            div.um-pagination
                div.um-pagination__controls
                    div.um-pagination__controls-arrow
                        img(src="/img/pagination-arrow-left.svg")
                    div.um-pagination__controls-page.um-pagination__controls-page_active
                    div.um-pagination__controls-page
                    div.um-pagination__controls-page
                    div.um-pagination__controls-arrow
                        img(src="/img/pagination-arrow-right.svg")
        div.um-advantages.um-container
            div.um-title.um-typography_xxl
                span.um-title__item.um-title__item_red
                    | ПРЕИМУЩЕСТВА
                span.um-title__item
                    |  ПЕРЕГРУЖАТЕЛЕЙ SANY
            div.um-advantages__body
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Надежная гидравлика
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Надежная гидравлика
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Обусловлена независимой подачей масла в систему отдельными насосами.
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Высокая безопасность
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Высокая безопасность
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Защита машины от опрокидывания и от падающих предметов.
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Самодиагностика
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Самодиагностика неисправностей
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Позволяет самостоятельно определить неисправности.
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Автоблокировка
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Автоблокировка при опасности
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Автоблокировка действий машиниста, ведущих к перегрузкам.
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Эффективность работы
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Эффективность работы
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Высокая производительность, быстрый поворот, высокая емкость оснастки.
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Многофункциональность
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Многофун<wbr>кциональность
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Возможностью использовать сменное навесное оборудование.
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Низкий расход топлива
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Низкий расход топлива
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Три режима работы, позволяют оптимизировать мощность двигателя.
                div.um-advantages__body-block
                    div.um-advantages__body-block-title.um-typography_md
                        img(src="/img/advantages-logo.png").um-advantages__mobile-logo
                        div.um-advantages__body-block-title.um-advantages__body-block-title_desktop Износостойкость
                        div.um-advantages__body-block-title.um-advantages__body-block-title_mobile Высокая износостойкость
                    div.um-advantages__body-block-content.um-typography_md-roboto
                        | Надежные и долговечные двигатель Mitsubishi и гидравлика Kawasaki.
        div.um-equipment
            div.um-container
                div.um-title
                    div.um-title__item.um-typography_xxl
                        | НАВЕСНОЕ ОБОРУДОВАНИЕ
                    div.um-title__item.um-title__item_red.um-typography_xxl
                        | ДЛЯ БОЛЬШЕЙ ФУНКЦИОНАЛЬНОСТИ
                div.um-navbar
                    div.um-navbar__item.um-navbar__item_active.um-typography_md
                        span ГРЕЙФЕРЫ
                    div.um-navbar__item.um-typography_md
                        span МАГНИТНЫЙ ШАЙБЫ
                    div.um-navbar__item.um-typography_md
                        span ГЕНЕРАТОР МАГНИТА
                    div.um-navbar__item.um-typography_md
                        span НАВЕСНЫЕ НОЖНИЦЫ
                    div.um-navbar__item.um-typography_md
                        span КРЮК ДЛЯ ПЕРЕВАЛКИ
                div.um-content.um-equipment__content
                    div.um-content__text-block
                        div.um-equipment__left-description-block
                            div.um-title.um-typography_xl.um-equipment__left-description-block-title
                                div.um-title__item Для различных сыпучих
                                div.um-title__item и кусковых грузов
                            div.um-equipment__left-description-block-text.um-typography_md-roboto
                                | Захват работает посредством подачи в него гидравлической жидкости от машины-носителя. За открытие/закрытие челюстей отвечают гидравлические цилиндры. Движение вокруг своей оси грейфер осуществляет с помощью ротатора, который обеспечивает бесконечное вращение в обе стороны.
                    div.um-content__media-block.um-equipment__content-media-block
                        img(src="/img/equipment-photo.png")
        div.um-service
            div.um-container
                div.um-title.um-typography_xxl
                    div.um-title__item.um-title__item_red СЕРВИСНОЕ ОБСЛУЖИВАНИЕ
                    div.um-title__item  И УСЛУГИ
                div.um-service__text.um-typography_md-roboto Помимо продажи и аренды техники SANY компания РОСТИ-ЮГ занимается ремонтом погрузчиков, перепресовкой шин, поставкой навесного оборудования и запчастей, поставкой и ремонтом двигателей, а также установкой систем дополнительного обогрева фирмы Webasto. При необходимости компания РОСТИ-ЮГ совместно с SANY MARINE HEAVY INDUSTRY CO., LTD адаптирует технику под Ваши специфические условия применения. Мы создадим машину с оптимальными показателями, настроим погрузчик Fuchs под Ваши потребности, при этом сохранив универсальность машины.
            div.um-container.um-service__tape
                div.um-service__tape-item
                    img(src="/img/tape/1.png")
                    div.um-service__tape-item-content.um-typography_md Перепрессовка шин
                div.um-service__tape-item
                    img(src="/img/tape/2.png")
                    div.um-service__tape-item-content.um-typography_md Запасные части
                div.um-service__tape-item
                    img(src="/img/tape/3.png")
                    div.um-service__tape-item-content.um-typography_md Ремонт перрегружателей
                div.um-service__tape-item
                    img(src="/img/tape/4.png")
                    div.um-service__tape-item-content.um-typography_md Комплексная и поуловая диагноостика
                div.um-service__tape-item
                    img(src="/img/tape/5.png")
                    div.um-service__tape-item-content.um-typography_md Гарантийное и пост обслуживание
            div.um-container.um-service__tape-mobile.um-typography_md
                div.um-service__tape-mobile-item
                    | Перепрессовка шин
                    img(src="/img/arrow-right-white.svg")
                div.um-service__tape-mobile-item
                    | Запасные части
                    img(src="/img/arrow-right-white.svg")
                div.um-service__tape-mobile-item
                    | Ремонт перрегружателей
                    img(src="/img/arrow-right-white.svg")
                div.um-service__tape-mobile-item
                    | Комплексная и поуловая диагноостика
                    img(src="/img/arrow-right-white.svg")
                div.um-service__tape-mobile-item
                    | Гарантийное и пост обслуживание
                    img(src="/img/arrow-right-white.svg")
        div.um-dealer.um-container
            div.um-title.um-typography_xxl.um-dealer__text-title
                span.um-title__item.um-title__item_red РОСТИ-ЮГ
                span.um-title__item  ОФИЦИАЛЬНЫЙ ДИЛЕР SANY
            div.um-title.um-typography_xxl.um-dealer__text-title-mobile
                div.um-title__item.um-title__item_red РОСТИ-ЮГ
                div.um-title__item  ОФИЦИАЛЬНЫЙ ДИЛЕР SANY
            div.um-content
                div.um-dealer__text.um-typography_md-roboto
                    p Компания РОСТИ-ЮГ с 2022 года официальный авторизованный дилер завода SANY MARINE HEAVY INDUSTRY CO., LTD работающий по всей территории Уральского и Южного федерального округа с 2022 г.
                    P Наши региональные представительства включают в себя сервисные центры и склады в городах Магнитогорск, Челябинск, Екатеринбург и Сургут, Ростов-на Дону.

                    P Цель компании - продвижение и поддержка мобильных перегружателей SANY на всей дилерской территории. Вы всегда можете купить или взять в аренду технику SANY.
                    P Благодаря оптимизации логистики поставок, цены на технику SANY или аренда, а также стоимость комплектующих, максимально отвечают возможностям наших клиентов. Продажа и поставка техники осуществляется в кратчайшие сроки.
                div.um-dealer__media
                    img(src="/img/service-media.png")
                    div
        div.um-title.um-typography_xl.um-container НАМ ДОВЕРЯЮТ
        div.um-trust.um-container
            div.um-trust__draggable_area
                div.um-trust__item
                    img(src="/img/trust/1.png")
                div.um-trust__item
                    img(src="/img/trust/2.png")
                div.um-trust__item
                    img(src="/img/trust/3.png")
                div.um-trust__item
                    img(src="/img/trust/4.png")
                div.um-trust__item
                    img(src="/img/trust/5.png")
                div.um-trust__item
                    img(src="/img/trust/6.png")
                div.um-trust__item
                    img(src="/img/trust/7.png")
                div.um-trust__item
                    img(src="/img/trust/8.png")
        div.um-feedback
            div.um-container
                div.um-feedback__body
                    div.um-feedback__body-info
                        div.um-typography_semilg.um-feedback__body-info-ask
                            | Возникли вопросы? Свяжитесь с нами
                        div.um-typography_xxl.um-feedback__body-info-number
                            | +7 (3519) 49-59-51
                        div.um-typography_md-roboto.um-feedback__body-info-phone
                            | Телефон горячей линии РОСТИ
                    div.um-feedback__divder
                    div.um-feedback__body-form
                        div.um-feedback__body-form-grid
                            div.um-feedback__body-form-top
                                div.um-typography_semilg.um-feedback__body-form-top-application
                                    | Или оставьте нам заявку
                                div.um-typography_md-roboto.um-feedback__body-form-top-manager
                                    | Наш менеджер свяжется с вами в ближайшее время.
                            div.um-feedback__body-form-input.um-typography_md-roboto
                                | Имя
                            div.um-feedback__body-form-input.um-typography_md-roboto
                                | Телефон
                            div.um-feedback__body-form-submit.um-typography_md Отправить заявку
                        div.um-feedback__body-form-bottom.um-typography_sm
                            div.um-title
                                span.um-title__item
                                    | При нажатии на кнопку я принимаю
                                span.um-title__item.um-title__item_red
                                    |  условия пользовательского соглашения
        div.um-regions
            div.um-container
                div.um-regions__body
                    div.um-regions__body-text-block
                        div.um-title
                            div.um-title__item.um-typography_xl
                                | БУДЕМ РАДЫ ВИДЕТЬ ВАС ЛИЧНО
                            div.um-title__item.um-typography_xl
                                | В РЕГИОНАЛЬНЫХ ПРЕДСТАВИТЕЛЬСТВАХ
                        div.um-regions__addresses
                                div.um-regions__addresses-block
                                    div.um-regions__addresses-city.um-typography_semilg
                                        | МАГНИТОГОРСК
                                    div.um-regions__addresses-rest.um-typography_md-roboto
                                        | ул. Зеленый лог, д. 34
                                    div.um-regions__addresses-phone.um-typography_md-roboto
                                        | 8 (3519) 49-59-52
                                    div.um-regions__addresses-phone.um-typography_md-roboto
                                        | 8 (3519) 49-59-52
                                div.um-regions__addresses-block
                                    div.um-regions__addresses-city.um-typography_semilg
                                        | ЧЕЛЯБИНСК
                                    div.um-regions__addresses-rest.um-typography_md-roboto
                                        | ул. Кожзаводская, д. 20
                                    div.um-regions__addresses-phone.um-typography_md-roboto
                                        | 8 (909) 099-88-68
                                div.um-regions__addresses-block
                                    div.um-regions__addresses-city.um-typography_semilg
                                        | ЕКАТЕРИНБУРГ
                                    div.um-regions__addresses-rest.um-typography_md-roboto
                                        | ул. Бетонщиков, д. 5
                                    div.um-regions__addresses-phone.um-typography_md-roboto
                                        | 8 (932) 606-24-41
                                div.um-regions__addresses-block
                                    div.um-regions__addresses-city.um-typography_semilg
                                        | РОСТОВ НА ДОНУ (БАТАЙСК)
                                    div.um-regions__addresses-rest.um-typography_md-roboto
                                        | ул. Фермерская, д. 15
                                    div.um-regions__addresses-phone.um-typography_md-roboto
                                        | 8 (964) 24-86-66
                                div.um-regions__addresses-block
                                    div.um-regions__addresses-city.um-typography_semilg
                                        | СУРГУТ
                                    div.um-regions__addresses-rest.um-typography_md-roboto
                                        | ул. Саянская, д. 18
                                    div.um-regions__addresses-phone.um-typography_md-roboto
                                        | 8 (964) 24-86-66
                                div.um-regions__addresses-block.um-regions__addresses-more
                                    a.um-regions__addresses-more-link.um-typography_md ПОДРОБНЕЕ
                    div.um-regions__russia
                        img(src="/img/russia.png").um-regions__russia_desktop
                        img(src="/img/russia-mobile.png").um-regions__russia_mobile